/*  Names:
 *  Student Numbers:
 *  Date: 
 *  Course: SENG2050, Assignment 3
 *  CSS: style
*/

body {background-color: #003366;}

table, th, td{width: 95%; border: 1px solid black; margin-left: auto; margin-right: auto; border-collapse: collapse; text-align: center; background-color: #eaf7f9;}

td{padding: 0px; margin: 0px}

#total
{
	border-radius: 25px;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	background-color:#bbffff;
}

#Articles 
{
	border-radius: 25px;
	background-color:#bbffff;
	border-style: solid;
	border-color: #a0d0ff;
	display: inline-block;
	width: 45%;
	margin-left: 40px;
}

#SideMenu 
{
	float: right;
	border-radius: 25px;
	background-color:#bbffff;
	border-style: solid;
	border-color: #a0d0ff; 
	display: inline-block; 
	width: 45%;
	margin-right: 40px;
}

#loginform 
{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	background-color:#aaffff;
	border-style: solid;
	border-color: #a0d0ff;
	border-radius: 5px;
	padding: 15px 25px;
	text-align: center;
}

p {background-color:#aaddff; margin-left: 1cm; margin-right: 1cm; text-align:left; padding: 8px;}

h1{border-radius: 25px 25px 1px 1px; background-color:#aaddff; padding: 0.5cm; text-transform: uppercase; text-align: center;}
h2{border-radius: 25px 25px 1px 1px; background-color:#aaddff; padding: 0.5cm; text-transform: uppercase; text-align: center; margin-top: 0;}

.detailsForm
{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
    text-align: left;
}

#filterForm
{
	width: 100%;
	margin-left: 5%;
	text-align: left;
}

input[type=submit] 
{
  cursor: pointer;
}

input[type=reset] 
{
  cursor: pointer;
}
 
#issueDescription
{
	width: 100%;
}

#issueTitle
{
	width: 100%;
}

.true
{
	background-color:green;
}

#commentArea
{
	margin-left: 5%;
	width 100%
}

.returnButton
{
	margin-left: 95%;
	margin-bottom: 2%;
}

#solutionButton
{
	margin-left: 80%;
}

.viewSubmit
{
	margin-left: 5%;
}

#viewTitle
{
	margin-left: 10%;
	font-size: 50px;
}

.titleButton
{
	size:100%;
}
